.active {
  background: #34b3a0;
}

.mat-toolbar {
  flex-wrap: wrap;
  justify-content: center;
  z-index: 5;
  background: #212121;
  box-sizing: border-box;
  height: 100%;
  max-height: 20vh;
}

.title {
  color: white;
}

.mat-button {
  color: white;
}

.logo {
  cursor: pointer;
  outline: none;
  height: 50%;
  img {
    height: 100%;
  }
}

.mat-nav-list {
  padding: 10px;
}

@media screen and (min-width: 524px) {
  .mat-toolbar {
    justify-content: space-between;
  }
}

@media screen and (min-width: 768px) {
  mat-toolbar {
    // display: none !important;
  }

  .mat-toolbar {
    display: flex;
    align-content: space-around;
    justify-content: space-between;
    position: relative;
    height: 15vh;
    width: 100vw;
  }

  .title {
    font-size: 3rem;
  }
}

@media screen and (min-width: 1216px) {
  .mat-toolbar {
    justify-content: space-around;
  }
}