<mat-toolbar>
    <div routerLink="clients" class="logo">
        <img src="./assets/images/uncle-sam.gif" alt="">
    </div>
    <span class="flex-spacer"></span>
    <h1 class="title">US Arms Clients</h1>
    <span class="flex-spacer"></span>
    
    <mat-nav-list>
        <button mat-button mat-list-item
                class="links" 
                *ngFor="let link of links"
                [routerLink]="link.path"
                routerLinkActive="active"
                > 
                {{ link.name }}
        </button>
    </mat-nav-list>
</mat-toolbar>