.flex-spacer {
  flex: 1 1 auto;
}

.active {
  background: #34b3a0;
}

.mat-toolbar {
  display: flex;
  align-content: space-around;
  justify-content: center;
  position: relative;
  height: 15vh;
  width: 100vw;
  z-index: 5;
  background: #212121;
  box-sizing: border-box;
}

.title {
  font-size: 3rem;
  color: white;
}

.mat-button {
  color: white;
}

.logo {
  cursor: pointer;
  outline: none;
  height: 80%;
  img {
    height: 100%;
  }
}
