<mat-card *ngIf="selectedOrder">
  <mat-card-content>
    <div class="top-container">
      <div class="country-name">
        <mat-card-title>{{selectedOrder.client.country.name}}</mat-card-title>
      </div>
      <div class="flex-spacer"></div>
      <div class="country-flag">
        <img src="http://www.geonames.org/flags/x/{{ selectedOrder.client.country.code | lowercase }}.gif" alt="country flag">
      </div>
    </div>
    <br>
    <h3 class="order-details">Order Details</h3>
    <mat-list>
      <mat-list-item *ngFor="let weapon of weapons">
        {{weapon[0]}}:
        ({{ weapon[1] }}) 
      </mat-list-item>
    </mat-list>
    <mat-divider></mat-divider>
    <h3>Total: {{ orderCalcService.getOrderTotal(selectedOrder) | currency}}</h3>
    
    <h4 class="leader">Attn: {{ selectedOrder.client.currentLeader }}</h4>
    
  </mat-card-content>
</mat-card>
