.mat-card {
  width: 100%;
}

.top-container {
  display: flex;
  width: 100%;
  height: 40%;
}

.leader {
  // margin-top: 2rem;
}

.edit-launch {
  position: absolute;
  bottom: 1rem;
  right: 2rem;
}

.country-flag {
  width: 50%;
  margin: auto;
  img {
    width: 100%;
    height: auto;
  }
}

